[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
llama_index = "*"
chromadb = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.10"
